@model GoraYazilim.Entity.DtoAltUrun;


<h2>Yeni Alt Ürün Oluşturma</h2>
<div class="card">

    <div class="card-title">
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-controller="Alturun" asp-action="Add">
            <table>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="AlturunAdi" class="control-label"></label>
                            <input asp-for="AlturunAdi" class="form-control" />
                            <span asp-validation-for="AlturunAdi" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="AlturunFiyat" class="control-label"></label>
                            <input asp-for="AlturunFiyat" class="form-control" />
                            <span asp-validation-for="AlturunFiyat" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="UrunId" class="control-label"></label>
                            <input asp-for="UrunId" class="form-control" />
                            <span asp-validation-for="UrunId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
             
                <tr>
                  

                    <hr /><input type="submit" value="Oluştur" class="btn btn-primary" />
                </tr>
            </table>

        </form>
    </div>
</div>

