@model List<GoraYazilim.Entity.DtoAltUrun>

<div class="card">

    <div class="card-body">
        <div class="card-title">
            <h2>Ana Ürüne Ait Alt Ürünler</h2>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <td>AlturunId</td>
                    <td>AlturunAdi</td>
                    <td>AlturunFiyat</td>
                    <td>AnaurunId</td>
                </tr>
            </thead>
            <tbody>
                @foreach (GoraYazilim.Entity.DtoAltUrun item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.AlturunId)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.AlturunAdi)
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.AlturunFiyat) ₺
                        </td>
                        <td>
                            @Html.DisplayFor(itemdisplay => item.UrunId)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
